header
  h1.logo 

nav
  ul
    li: a(href="about") About
    li: a(href="design") Design
    li: a(href="illustration") Illustration
    li: a(href="philosophy") Philosophy
    li: a(href="social") Social
    li: a(href="contact") Contact

a(href="mailto:strayhorn.design@gmail.com").email-link +email me
